body {
  margin: 0;
  font-family:font-b, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family:font-b, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@font-face {
  font-family: font-b;
  src: url(./fonts/Yekan.ttf);
}
 header{
  background: #404040;
  padding: 1rem;
 }
 header a{
  color:#fff;
  text-decoration: none;
  font-weight: bold;
 }
 main{
  padding: 1rem;
 }
 .products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 .product{
  box-shadow: 0 0 15px 1px #404040;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
 }
 .product img{
  width: 100%;
  width: 300px;
  height: 350px;
 }
 .product-info{
  padding: 1rem;
 }
 .product-info button{
  padding: .5rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
 }